/* #region COMMON */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --spotify-black: black;
  --spotify-white: white;
  --spotify-header: #080b12;
  --spotify-main: #141922;
  --spotify-primary: #e7e7e7;
  --spotify-secondary: #848484;
  --spotify-footer: #282828;
  --spotify-view: #aaf82d;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.box-main-nav {
  max-width: 94%;
  margin: auto;
}

#sidebar {
  position: fixed;
  top: 0;
}

/* #endregion COMMON */

/* #region DEBUG */

/* #endregion DEBUG */

/* #region UTILITY */

.container {
  width: 94%;
  margin: 35px auto 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.col-6 {
  flex-basis: 50%;
  padding: 0 5px;
}

.d-flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.gap {
  gap: 5px;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-btn {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fit-content {
  min-inline-size: fit-content;
}

.d-none {
    display: none;
  }

.mb-20 {
  margin-bottom: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-2 {
  margin-bottom: 2px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-10 {
  margin-bottom: 10px;
}

    /* colors */
    .c-white {
    color: var(--spotify-primary);
    }
    .c-gray {
    color: var(--spotify-secondary);
    }

    .c-shine {
    color: var(--spotify-white);
    }

    /* fonts and text */

    .text-center {
    text-align: center;
    }

    .uppercase {
    text-transform: uppercase;
    }

    .f-10 {
    font-size: 8px;
    }

    .f-12 {
    font-size: 12px;
    }

    .f-14 {
    font-size: 14px;
    }

    .f-40 {
    font-size: 40px;
    }

    .weight-700 {
    font-weight: 700;
    }

    .weight-800 {
    font-weight: 800;
    }

/* #endregion UTILITY */

/* #region SIDEBAR */

#sidebar {
  width: 50px;
  height: calc(100vh - 90px);
  background-color: var(--spotify-black);
  z-index: 2;
  overflow-y: auto;

  & .logo-small {
    width: 32px;
    aspect-ratio: 1;
    margin: 5px 0 8px 9px;
  }

  & .logo {
    width: 130px;
    height: 40px;
    margin: 20px 0 21px 20px;
  }
}

.on-view {
  width: 3px;
  height: 35px;
  background: var(--spotify-view);
}

.links {
  margin-left: 12px;
}

.icon {
  height: 25px;
  width: 25px;
}

.box-sidebar {
  height: calc(100% - 54px - 87px);
  min-height: 90px;
  padding: 25px 0 0 20px;

  & .add-playlist {
    margin: 10px 0 18px 0;

    & .plus-btn {
      width: 36px;
      height: 37px;
      background-color: gray;
      color: rgb(21, 21, 21);
      margin-right: 10px;
    }
  }
}

.sidebar-low {
  margin-left: -5px;

  & .download {
    padding: 0 0 10px 4px;

    & .btn{
      width: 15px;
      height: 15px;
      margin-right: 8px;
    }
  }

  & .profile {
    margin-top: 12px;

    & .profile-avatar {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: var(--spotify-secondary);
      margin-right: 10px;
      overflow: hidden;
    }
    & .profile-name {
      margin-top: 3px;
    }
  }
}

/* #endregion SIDEBAR */

/* #region MAIN */

#site-header {
    width: 100%;
    height: 90px;
    background-color: var(--spotify-header);
  
    & .btn-upgrade {
      position: absolute;
      right: 15px;
      border: 1.5px solid var(--spotify-primary);
      padding: 12px 39px;
      border-radius: 22px;
      margin-top: 20px;
      transition: all 200ms ease-in-out;
      animation: heartbeat 1.8s linear 1.2s 3;
    }
  }

#site-main {
  height: calc(100vh - 90px);
  width: calc(100% - 50px);
  margin-left: 50px;
  background-color: var(--spotify-main);
  overflow-y: auto;
}

#upper-row {
  margin-top: 17px;
  margin-bottom: 30px;
}

.horizontal-on-bar {
  width: 28px;
  height: 2px;
  background: var(--spotify-view);
  margin-left: 30px;
}

.album-cover{

    & img{
        transition: transform 400ms ease-in-out;
    }

    & .hover-play{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: opacity(0);
        transition: filter 200ms ease-in-out;
    }
}

/* #endregion MAIN */

/* #region FOOTER */

#site-footer {
  background-color: var(--spotify-footer);
  height: 90px;
}

.container-footer {
  height: 100%;
  padding: 10px;
}

.left,
.right {
  flex-basis: 30%;
  height: 100%;
}

.left {
  & .played-song-cover {
    height: 28px;

    & img {
      height: 100%;
    }
  }

  & .played-song-info {
    margin: 0 20px 0 8px;

    & .played-song-title {
      width: 30px;
    }
  }

  & .played-song-actions {
    margin-right: 20px;
  }
}

.middle {
  flex-basis: 40%;
  height: 100%;
  min-width: 220px;

  & .play {
    height: 40px;
    width: 220px;
    margin: 0 auto;

    & .fa-circle-play {
      font-size: 30px;
      padding: 0 20px;
    }
  }
  .timebar {
    height: 30px;

    & .bar {
      flex-basis: 80%;
      height: 3px;
      background-color: var(--spotify-secondary);
      border-radius: 1px;

      & .played-bar {
        height: 100%;
        width: 30px;
        background-color: var(--spotify-primary);
        border-radius: 1px;

        & .played-bar-cursor{
            background-color: var(--spotify-primary);
            width: 13px;
            aspect-ratio: 1;
            border-radius: 50%;
            right: -7px;
            top: -5px;
        }
      }
    }

    & .played-time {
      flex-basis: 10%;
    }

    & .song-lenght {
      flex-basis: 10%;
      text-align: end;
    }
  }
}

.right {
  & .volume-box {
    flex-basis: 50%;
    gap: 3px;
    padding: 0 3px 0 20px;
    & i {
      flex-basis: 33%;
      max-width: 25px;
    }
  }
  & .volume-bar {
    flex-basis: 50%;
    max-width: 85px;
    height: 3px;
    background-color: var(--spotify-secondary);
    border-radius: 1px;

    & .volume-status {
      height: 100%;
      width: 25px;
      background-color: var(--spotify-primary);
      border-radius: 1px;

      & .volume-status-cursor{
            background-color: var(--spotify-primary);
            width: 13px;
            aspect-ratio: 1;
            border-radius: 50%;
            right: -7px;
            top: -5px;
      }
    }
  }
}

/* #endregion FOOTER */

/* #region MEDIA QUERY */

@media screen and (min-width: 576px) {
 
    /* #region s-utility */
  .d-block-s {
    display: block;
  }

  .d-flex-s {
    display: flex;
  }

  .d-none-s {
    display: none;
  }

  .mr-s-0 {
    margin-right: 0;
  }

  .mr-s-20 {
    margin-right: 20px;
  }

  .flex-column-s {
    display: flex;
    flex-direction: column;
  }

  .space-btn-s {
    justify-content: space-between;
  }

  /* #endregion s-utility */

  /* #region s-sidebar */
  #sidebar {
    width: 230px;
  }

  .logo-small {
    display: none;
  }

  .links {
    margin-left: calc(20px - 3px);
    padding-top: 7px;
  }

  .box-sidebar {
    height: calc(100% - 180px);
    
    & .sidebar-low {

        & .download {
          border-bottom: 1px solid var(--spotify-secondary);
        }
      }
  }

  
  /* #endregion s-sidebar */

  /* #region s-main */
  #site-main {
    width: calc(100% - 230px);
    margin-left: 230px;
  }
  /* #endregion s-main */

  /* #region s-footer */
  .left {
    & .played-song-cover {
      height: 40px;
    }

    & .played-song-info {
      & .played-song-title {
        width: 55px;
      }
    }
  }

  /* #endregion s-footer */
}

@media screen and (min-width: 768px) {
  /* #region md-utility */

  .d-block-md {
    display: block;
  }

  .d-none-md {
    display: none;
  }

  .mr-md-20 {
    margin-right: 20px;
  }

  .flex-row-md {
    flex-direction: row;
  }

  .col-md-3 {
    flex-basis: 25%;
  }

  /* #endregion md-utility */

  .left {
    & .played-song-cover {
      height: 43px;
    }

    .played-song-actions {
      margin-left: 40px;
      gap: 15px;
    }
  }
}

@media screen and (min-width: 992px) {

  .d-block-lg {
    display: block;
  }

  .d-none-lg {
    display: none;
  }

  .mr-lg-20 {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .col-lg-2 {
    flex-basis: initial;
    width: calc(100% / 6);
  }
}

/* #endregion MEDIA QUERY */

/* #region HOVER and KEYFRAMES */

@keyframes heartbeat {
    0%{
        transform: scale(1.07);
    }

    15%{
        transform: scale(1.0);
    }
    
    23%{
        transform: scale(1.2);
    }

    40%{
        transform: scale(1.0);
    }

}

.btn-upgrade:hover {
    transform: scale(1.1);
    filter: brightness(200%);
    border: 2px;
}

#upper-row span:hover,
#lower-row span:hover {
    filter: brightness(200%);
    cursor: pointer;
}

.album-cover:hover img{
    filter: opacity(0.6);
    transform: scale(1.05);
}

.album-cover:hover .hover-play{
    filter: opacity(1);
}   

.hover-play i:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.home:hover .icon,
.home:hover .icon-name{
    filter: brightness(200%);
    cursor: pointer;
}

.search:hover .icon,
.search:hover .icon-name{
    filter: brightness(200%);
    cursor: pointer;
}

.library:hover .icon,
.library:hover .icon-name{
    filter: brightness(200%);
    cursor: pointer;
}

.add-playlist:hover .plus-btn,
.add-playlist:hover .create{
    filter: brightness(200%);
    cursor: pointer;
}

.item:hover {
    filter: brightness(200%);
    cursor: pointer;
}

.download:hover .btn,
.download:hover .installa{
    filter: brightness(200%);
    cursor: pointer;
}

.played-song-info:hover .played-song-title{
    text-decoration: underline;
    filter: brightness(200%);
    cursor: pointer;
}

.heart:hover {
    filter: brightness(200%);
    cursor: pointer;
}

.folder:hover {
    filter: brightness(200%);
    cursor: pointer;
}

footer .fa-circle-play:hover {
    filter: brightness(200%);  
    transform: scale(1.4);  
    cursor: pointer;
}


.fa-shuffle:hover,
.fa-backward-step:hover,
.fa-forward-step:hover,
.fa-rotate-right:hover,
.fa-list-ul:hover,
.fa-display:hover,
.fa-volume-high:hover{
    filter: brightness(200%);  
    transform: scale(1.2);  
    cursor: pointer;
}

.timebar:hover .played-bar{
    background-color: var(--spotify-view);
    cursor: pointer;

    & .played-bar-cursor{
        display: block;
    }
}

.volume-bar:hover .volume-status{
    background-color: var(--spotify-view);
    cursor: pointer;

    & .volume-status-cursor{
        display: block;
    }
}

  


/* #endregion HOVER and ANIMATIONS */