/* #region COMMON */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --spotify-black: black;
    --spotify-white: white;
    --spotify-header: rgb(0, 0, 65);
    --spotify-main: rgb(47, 47, 58);
    --spotify-secondary:rgb(117, 117, 117);
    --spotify-footer: rgb(90, 47, 47);
    --spotify-view: rgb(218, 255, 52);
}

body{
    font-family: 'Montserrat', sans-serif;
}

#site-header, #sidebar{
    position: fixed;
    top: 0;
}

/* #endregion COMMON */

/* #region DEBUG */

.debug #site-main{
    height: calc(100vh - 180px);
}

.debug .call-to-action{
    height: 40px;
    width: 220px;
    background-color: red;
}

.debug .logo{
    background-color: red;

}

.debug .nav{
    background-color: red;
}

.debug .icon,
.debug .icon-name,
.listhead{
    height: 20px;
    border: 1px solid black;
    background-color: rosybrown;
}

.debug .icon{
    width: 20px;
}

/* #endregion DEBUG */



/* #region UTILITY */

.d-flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}
.gap{
    gap: 5px;
}



 /* colors */
    .c-white{
        color: var(--spotify-white);       
    }
    .c-gray{
        color: var(--spotify-secondary);       
    }

 /* fonts */
    .f-12{
        font-size: 12px;
    }   

 /* display */
 .d-none{
    display: none;
}      


/* #endregion UTILITY */

/* #region HEADER */

#site-header{
    left: 50px;
    width: 100%;
    height: 90px;
    background-color: var(--spotify-header);
}

.call-to-action{
    position: absolute;
    right: calc(50px + 20px);
    margin-top: 20px;
}

/* #endregion HEADER */

/* #region SIDEBAR */

#sidebar{
    width: 50px;
    height: calc(100vh - 90px);
    background-color: var(--spotify-black);
}

.logo-small{
    width: 30px;
    aspect-ratio: 1;
    margin: 5px 0 0 10px;
}

.logo{
    width: 130px;
    height: 40px;
    margin: 20px 0 30px 20px;
}

.on-view{
    width: 3px;
    height: 35px;
    background: var(--spotify-view);
}

.nav{
    margin: 0 0 25px 15px;
}

.listhead{
    margin-left: 20px;
}

   

/* #endregion SIDEBAR */

/* #region MAIN */

#site-main{
    width: calc(100% - 50px);
    margin: 90px 0 0 50px;
    background-color: var(--spotify-main);
    overflow-y: auto;
}

/* #endregion MAIN */

/* #region FOOTER */

#site-footer{
    background-color: var(--spotify-footer);
    height: 90px;
}

/* #endregion FOOTER */

/* #region MEDIA QUERY */

@media screen and (min-width: 576px) {
    #sidebar{
        width: 230px;
    }

    .d-block-s{
        display: block;
    }

    #site-header{
        left: 230px;
    }

    #site-main{
        width: calc(100% - 230px);
        margin: 90px 0 0 230px;
    }

    .call-to-action{
        right: calc(230px + 20px);
    }

    .logo-small{
        display: none;
    }

    .nav{
        margin-left: calc(23px - 3px);
    }
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1200px) {
    
}

/* #endregion MEDIA QUERY */

